{% extends "base/index.html" %}
{% load humanize %}
{% load staticfiles %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'unit:list' %}">Klub</a>
    </li>
    <li class="breadcrumb-item">Detail</li>
    <li class="breadcrumb-item active">{{object.name}}</li>
</ol>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="brand-card">
            <div class="brand-card-header" style="height: 75px; font: bold;">
                <h1 style="font-family: 'Patua One', cursive;">
                    {{object.name}}
                </h1>
            </div>
            <div class="brand-card-body">
                <table class="table">
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>
                            <h5>{{object.address}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>Ketua</td>
                        <td>:</td>
                        <td>
                            {{object.lead.user.first_name}} {{object.lead.user.last_name}}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">

                <table class="table table-striped table-responsive-sm" id="">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>No. Anggota</th>
                            <th>Nama</th>
                            <th>Nomer Hp</th>
                            <th>Email</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in unit.members.all  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{member.user.username}}</td>
                            <td>{{member.user.first_name}} {{member.user.last_name}}</td>
                            <td>{{member.phone}}</td>
                            <td>{{member.user.email}}</td>
                            <td>{{member.gender}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    console.log("Dashboard test")
</script>
{% endblock js %}