{% extends "base/index.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'unit:list' %}">Klub</a>
    </li>
    <li class="breadcrumb-item">Edit</li>
    <li class="breadcrumb-item active">{{object.name}}</li>
</ol>
{% endblock breadcrumb %}
{% block page_title %}
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
        <div class="container-header">
            <h3>Edit Satuan <a href="{% url 'unit:detail' object.pk %}">{{object.name}}</a></h3>
        </div>
    </div>
</div>
<br>
{% endblock page_title %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <form enctype="multipart/form-data" action="{% url 'unit:edit' object.pk %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="company">Nama Klub</label>
                        <input class="form-control" name="name" type="text" required value="{{object.name}}">
                    </div>
                    <div class="form-group">
                        <label for="vat">Alamat</label>
                        <textarea class="form-control" name="address" placeholder="Jalan . . ."
                            rows="2">{{object.address}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="company">Tanggal Bergabung</label>
                        <input class="form-control" name="date_register" type="date" required
                            value="{{object.date_register|date:"Y-m-d"}}">
                    </div>
                    <!-- <div class="form-group">
                        <label for="vat">Ketua</label>
                        <select name="member" id="" class="form-control">
                            <option value="">===== Pilih =====</option>
                            {% for member in members %}
                            <option value="{{member.pk}}">{{member.name}}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="vat">Logo</label><br>
                        <div style="display: flex; flex-direction: column">
                            {% if object.logo %}
                            <a style="margin-bottom: 8px;" target="_blank"
                                href="{{object.logo.url}}">{{object.logo.url}}</a>
                            {% endif %}
                            <input name="logo" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    console.log("Dashboard test")
</script>
{% endblock js %}