Django>=2.2.4
Celery==4.3
redis

djangorestframework==3.9.2
markdown==3.0.1
django-filter==2.1.0
djangorestframework-jwt==1.11.0
django-oauth-toolkit==1.2.0
django-braces==1.13.0
#django-heroku

rest-social-auth==2.2.0

social-auth-core
social-auth-app-django

# django-rest-framework-social-oauth2==1.1.0

drf-nested-routers==0.91

# psycopg2==2.7.7
#mysqlclient==1.4.1

django-extensions==2.1.6

fcm-django==0.2.21

Pillow==6.0.0
gunicorn==19.9.
# django-heroku

pylint
pylint-django
autopep8

timeago
ipython