{% load static %}
<link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css">
<link rel="stylesheet" href="{% static 'vendors/@coreui/coreui/dist/css/coreui.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/pace.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link href="https://fonts.googleapis.com/css?family=Patua+One|Squada+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/app.css' %}">