{% extends "_base/index.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">User</li>
    <li class="breadcrumb-item active">Profile</li>
</ol>
{% endblock breadcrumb %}
{% block subtitle %} Complete Profile {{request.user.archer.full_name}} {% endblock subtitle %}
{% block content %}
{% with request.user.archer as archer %}
<div class="row justify-content-center" id="app-body">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="alert alert-info" role="alert">
            Lengkapi profile anda untuk dapat mengakses fitur yang lain
        </div>
        <div class="card">
            <div class="card-body">
                <form role="form" method="POST" action="{% url 'archer:complete-profile' archer.region_code_name %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Foto</label> <br>
                        <input type="file" name="photo" @change="onChangePhoto($event, 'photo')" required>
                        <br>
                        <img v-if="photo.show" :src="photo.url" alt="" style="width: 50%;">
                    </div>
                    <div class="form-group">
                        <label for="">Foto Publik (Akan ditampilkan di halaman publik)</label> <br>
                        <input type="file" name="public_photo" @change="onChangePhoto($event, 'publicPhoto')" required>
                        <br>
                        <img v-if="publicPhoto.show" :src="publicPhoto.url" alt="" style="width: 50%;">
                    </div>
                    <div class="form-group">
                        <label for="">SKCK</label> <br>
                        <input type="file" name="skck" @change="onChangePhoto($event, 'skckPhoto')" required>
                        <br>
                        <img v-if="skckPhoto.show" :src="skckPhoto.url" alt="" style="width: 50%;">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Berat Badan</label>
                                <input type="number" class="form-control"
                                    value="{{archer.body_weight|default_if_none:''}}" name="body_weight"
                                    placeholder="0" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Tinggi Badan</label>
                                <input type="number" class="form-control"
                                    value="{{archer.body_height|default_if_none:''}}" name="body_height"
                                    placeholder="0" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Panjang Tarikan</label>
                                <input type="number" class="form-control"
                                    value="{{archer.draw_length|default_if_none:''}}" name="draw_length"
                                    placeholder="0" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right mt-3">
                        <button type="submit" class="btn btn-primary">Update Profile &nbsp; <i
                                class="fa fa-pencil"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}
{% block inline_js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    const vm = new Vue({
        el: '#app-body',
        delimiters: ['${', '}'],
        data: {
            photo: {
                show: false,
                url: null,
            },
            publicPhoto: {
                show: false,
                url: null,
            },
            skckPhoto: {
                show: false,
                url: null,
            },
        },
        methods: {
            onChangePhoto: function (e, key) {
                const value = URL.createObjectURL(e.target.files[0])
                if (key === 'photo') {
                    this.photo.show = true
                    this.photo.url = value
                } else if (key === 'publicPhoto') {
                    this.publicPhoto.show = true
                    this.publicPhoto.url = value
                } else if (key === 'skckPhoto') {
                    this.skckPhoto.show = true
                    this.skckPhoto.url = value
                }
            }
        }
    })
</script>
{% endblock inline_js %}