{% extends "_base/index.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">User</li>
    <li class="breadcrumb-item active">Profile</li>
</ol>
{% endblock breadcrumb %}
{% block subtitle %} {{request.user.archer.full_name}} {% endblock subtitle %}
{% block content %}
{% with request.user.archer as archer %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6>{{tableTitle}}</h6>
            </div>
            <div class="card-body">
                <table id="archer-applicant-table" class="table table-striped table-light table-inverse">
                    <thead>
                        <th>Nama Lengkap</th>
                        <th>NIK</th>
                        <th>Foto KTP</th>
                        <th>No. Telepon</th>
                        <th>Jenis Kelamin</th>
                        <th>Tanggal Bergabung</th>
                        <th class="text-center">#</th>
                    </thead>
                    <tbody>
                        {% for archer in archers %}
                        <tr>
                            <td>{{archer.full_name}}</td>
                            <td>{{archer.identity_card_number}}</td>
                            <td><a href="{{archer.identity_card_photo.url}}" target="_blank">Lihat foto KTP</a></td>
                            <td>{{archer.phone}}</td>
                            <td>{{archer.gender}}</td>
                            <td>{{archer.date_register|date:'d F Y'}}</td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-check"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}
{% block inline_js %}
<script>
    window.onload = () => {
        $("#archer-applicant-table").DataTable()
    }
</script>
{% endblock inline_js %}