.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 0.5rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.main > .container-fluid > .container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}
