{% load static %}
<link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css">
<link rel="stylesheet" href="{% static 'vendors/@coreui/coreui/dist/css/coreui.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/pace.min.css' %}">
<style>
    /* body {
        background: #ffffff;
    } */

    .form-group>label {
        font-weight: bold;
    }

    .card {
        -webkit-box-shadow: 0px 8px 22px -6px rgba(158, 158, 158, 0.4);
        -moz-box-shadow: 0px 8px 22px -6px rgba(158, 158, 158, 0.4);
        box-shadow: 0px 8px 22px -6px rgba(158, 158, 158, 0.4);
        border-radius: 6px;
        border: white 0px solid;
    }
</style>