{% load static %}
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/admin-lte/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script
    src="{% static 'vendors/admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/admin-lte/bower_components/select2/dist/js/select2.full.min.js' %}"></script>