{% load static %}
<section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            {% if request.user.archer.approval_document.public_photo %}
            <img src="{{request.user.archer.approval_document.public_photo.url}}" class="img-circle" alt="User Image">
            {% else %}
            <img src="{% static 'vendors/admin-lte/dist/img/avatar04.png' %}" class="img-circle" alt="User Image">
            {% endif %}
        </div>
        <div class="pull-left info">
            <p>{{request.user.archer.full_name}}</p>
            <a href="#"><i class="fa fa-bullseye text-success"></i> {{request.user.archer.club.name}}</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
        {% for sidebar in sidebars %}
        {% if sidebar.type == 'group' %}
        <li class="header">{{sidebar.title|upper}}</li>
        {% endif %}
        {% for item in sidebar.items %}
        {% if item.type == 'item' %}
        <li class="{% if item.is_active %}active{% endif %}">
            <a href="{{item.href}}">
                <i class="{{item.icon}}"></i> <span>{{item.title}}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</section>