{% extends "base/index.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'member:list' %}">Anggota</a>
    </li>
    <li class="breadcrumb-item active">List</li>
</ol>
{% endblock breadcrumb %}
{% block page_title %}
<div class="container-header">
    <h3>Semua Anggota</h3>
    <div>
        <a href="{% url 'member:add' %}" class="btn btn-primary">
            Tambah &nbsp; <i class="fa fa-plus-circle"></i>
        </a>
    </div>
</div>
{% endblock page_title %}
{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead class="table-light">
                <tr>
                    <th>No.</th>
                    <th>ID Anggota</th>
                    <th>Nama Lengkap</th>
                    <th>No. HP</th>
                    <th>Gender</th>
                    <th>Alamat</th>
                    <th>Klub Asal</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>

                {% for member in members %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{member.user.username}}</td>
                    <td>{{member.user.first_name}} {{member.user.last_name}}</td>
                    <td>{{member.phone}}</td>
                    <td>{{member.gender}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.club.name}}</td>
                    <td>
                        <a href="{% url 'organization:member_detail' member.pk %}" class="btn btn-primary btn-sm">
                            Lihat
                        </a>
                        <a href="{% url 'organization:member_edit' member.pk %}" class="btn btn-success btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{% url 'organization:member_delete' member.pk %}"
                            onclick="return confirm('Lanjutkan hapus anggota?')" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination" style="float: right">
            <li class="page-item">
                <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    console.log("Dashboard test")
</script>
{% endblock js %}