{% extends "base/index.html" %}
{% load app_tags %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Organisasi</li>
    <li class="breadcrumb-item">
        <a href="{% url 'organization:members' %}">Anggota</a>
    </li>
    <li class="breadcrumb-item">Edit</li>
    <li class="breadcrumb-item active">{{object.user.first_name}} {{object.user.last_name}}</li>
</ol>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
        {% include "base/message.html" %}
        <form enctype="multipart/form-data" action="{% url 'organization:member_edit' object.pk %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <strong>Identitas Diri</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="company">ID Anggota</label>
                        <input class="form-control" name="username" type="text" value="{{object.user.username}}"
                            placeholder="PD123xxxx . . ." required>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Nama Depan</label>
                            <input class="form-control" name="first_name" type="text" value="{{object.user.first_name}}"
                                placeholder="Sa'ad bin" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postal-code">Nama Belakang</label>
                            <input class="form-control" name="last_name" type="text" value="{{object.user.last_name}}"
                                placeholder="Abi Waqqash" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vat">No. HP</label>
                        <input class="form-control" name="phone" type="number" value="{{object.phone}}"
                            placeholder="087xxxx" required>
                    </div>
                    <div class="form-group">
                        <label for="vat">Email</label>
                        <input class="form-control" name="email" type="email" value="{{object.user.email}}"
                            placeholder="it@perdana.com">
                    </div>
                    <div class="form-group">
                        <label for="street">Gender</label>
                        <div style="display: flex; flex-direction: row">
                            <div class="form-check mr-1">
                                <input class="form-check-input" type="radio" value="pria" name="gender"
                                    {% if  object.gender == 'pria'%} checked {% endif %}> Pria
                            </div> &nbsp;&nbsp;&nbsp;
                            <div class="form-check mr-1">
                                <input class="form-check-input" type="radio" value="wanita" name="gender"
                                    {% if  object.gender == 'wanita'%} checked {% endif %}>
                                Wanita
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Tempat Lahir</label>
                            <input class="form-control" name="born_place" type="text" value="{{object.born_place}}"
                                placeholder="Mataram . . .">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postal-code">Tanggal Lahir</label>
                            <input class="form-control" name="born_date" type="date" value="{{object.born_date}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vat">Alamat</label>
                        <textarea class="form-control" name="address" placeholder="Jalan . . ."
                            rows="2">{{object.address}}</textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="vat">Apakah member ini ketua klub?</label><br>
                        <input name="lead" type="checkbox" value="1" /> Ya
                    </div> -->
                    <div class="form-group">
                        <label for="vat">Klub asal</label>
                        <select name="club_id" class="form-control" required>
                            <option value="">===== Pilih =====</option>
                            {% for club in clubs %}
                            <option value="{{club.pk}}" {% ifequal club.id object.club.id %} selected {% endifequal %}>
                                {{club.name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="vat">Foto Anggota</label><br>
                        <div style="display: flex; flex-direction: column">
                            {% if object.photo %}
                            <a style="margin-bottom: 8px;" target="_blank" href="{{object.photo.url}}">{{object.photo.url}}</a>
                            {% endif %}
                            <input name="photo" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Identitas Fisik</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="city">Tinggi Badan (cm)</label>
                            <input class="form-control" name="body_height" type="number" value="{{object.body_height}}"
                                placeholder="0">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Berat Badan (kg)</label>
                            <input class="form-control" name="body_weight" type="number" value="{{object.body_weight}}"
                                placeholder="0">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Draw Length (inch)</label>
                            <input class="form-control" name="draw_length" type="number" value="{{object.draw_length}}"
                                placeholder="0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    console.log("Dashboard test")
</script>
{% endblock js %}