{% extends "base/index.html" %}
{% load humanize %}
{% load staticfiles %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Organisasi</li>
    <li class="breadcrumb-item">
        <a href="{% url 'organization:members' %}">Anggota</a>
    </li>
    <li class="breadcrumb-item">Detail</li>
    <li class="breadcrumb-item active">{{object.user.first_name}} {{object.user.last_name}}</li>
</ol>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="brand-card">
            <div class="brand-card-header" style="height: 350px">
                {% if object.photo %}
                <img src="{{object.photo.url}}" alt="Image" width="100%" height="100%"></img>
                {% else %}
                <img src="{% static 'images/no-profile.png' %}" alt="Image" width="100%" height="100%"></img>
                {% endif %}
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">{{object.body_weight}} Kg</div>
                    <div class="text-uppercase text-muted small">Berat Badan</div>
                </div>
                <div>
                    <div class="text-value">{{object.body_height}} Cm</div>
                    <div class="text-uppercase text-muted small">Tinggi Badan</div>
                </div>
                <div>
                    <div class="text-value">{{object.draw_length}} Inch</div>
                    <div class="text-uppercase text-muted small">Tarikan</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-responsive-sm">
                    <tr>
                        <td>No. Anggota</td>
                        <td>:</td>
                        <td>{{object.user.username}}</td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td>
                            <h5>{{object.user.first_name}} {{object.user.last_name}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>Nomer Hp</td>
                        <td>:</td>
                        <td>{{object.phone}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{object.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>:</td>
                        <td>{{object.gender}}</td>
                    </tr>
                    <tr>
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>{{object.born_place}}, {{object.born_date|date:"d M Y"}}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{object.address}}</td>
                    </tr>
                    <tr>
                        <td>Klub Asal</td>
                        <td>:</td>
                        <td><a href="#">{{object.club.name}}</a></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'organization:member_edit' object.pk %}" class="btn btn-success">Ubah data anggota</a>
                <a href="{% url 'organization:member_delete' object.pk %}"
                    onclick="return confirm('Lanjutkan hapus anggota?')" class="btn btn-danger">Hapus anggota</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    console.log("Dashboard test")
</script>
{% endblock js %}