{% extends "base/index.html" %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'member:list' %}">Anggota</a>
    </li>
    <li class="breadcrumb-item active">List</li>
</ol>
{% endblock breadcrumb %}
{% block page_title %}
<div class="container-header">
    <h3>Semua Anggota</h3>
    <div>
        <a href="{% url 'member:add' %}" class="btn btn-primary">
            Tambah &nbsp; <i class="fa fa-plus-circle"></i>
        </a>
    </div>
</div>
{% endblock page_title %}
{% block content %}
<div class="card">
    <div class="card-body">
        <table id="member-table" class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>No.</th>
                    <th>ID Anggota</th>
                    <th>Nama Lengkap</th>
                    <th>No. HP</th>
                    <th>Gender</th>
                    <th>Alamat</th>
                    <th>Klub Asal</th>
                    <th>Aksi</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function () {
        let dataTables = $('#member-table').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            "ajax": {
                "url": "{% url 'member:ajax-load' %}",
                "type": "POST",
                "data": {
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                }
            },
            "columns": [
                {
                    "data": "counter",
                    orderable: false,
                },
                { "data": "username" },
                { "data": "full_name" },
                { "data": "phone" },
                { "data": "gender" },
                { "data": "address" },
                { "data": "club" },
                {
                    data: null,
                    orderable: false,
                    className: "center",
                    defaultContent: `<button id="btn-view" class="btn btn-primary btn-sm">Lihat</button>
                        <button id="btn-edit" class="btn btn-success btn-sm">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button id="btn-delete" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </a>`
                }
            ]
        });

        $('#member-table tbody').on('click', 'button', function () {
            var elemId = this.id;
            var data = dataTables.row($(this).parents('tr')).data();

            if (elemId == 'btn-view') {
                // window.location = "{% url 'member:list' %}"
                window.location = Urls['member:detail'](data.pk)
            }
            else if (elemId == 'btn-edit') {
                // window.location = "{% url 'member:list' %}"
                window.location = Urls['member:edit'](data.pk)
            }
            else if (elemId == 'btn-delete') {
                if (confirm("Lanjutkan hapus member?")) {
                    // window.location = "{% url 'member:list' %}"
                    window.location = Urls['member:delete'](data.pk)
                }
            }
        });
    });
</script>
{% endblock js %}